<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>server demo</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>This is dir file list!</h1>
    <ul>
    <% dirs.forEach(dir =>{%>
        <li><a href="<%=dir.path%>"><%=dir.name%></a></li>
    <%})%>
    </ul>
</body>
</html>