#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.check-box {
  margin: 1rem;
}

.warn-words{
  margin-top: 26px;
}
.warn-word-box{
  margin-top: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  min-height: 150px;
  display: flex;
  padding: 12px;
  place-items: flex-start center;

}
.warn-word-item{
  display: inline-block;
  padding: 0 6px;
  border: 1px solid rgb(232, 86, 86);
  color: rgb(219, 41, 41);
  font-weight: 700;
  margin-right: 10px;
  border-radius: 4px;
}